#cardapio h2{
    font-size: 45pt;
    color: #D87B02;
}

.price{
    color: #D87B02;
    font-size: 20pt;
}

#cardapio strong{
    font-size: 25pt;
}

#principal{
    background-image: url('../imagens/destaque-cardapio.jpg');
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 210px;
    filter: brightness(40%);
}

#principal h1{
    font-size: 65pt;
}

footer{
    background-color: rgb(78, 77, 77);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 15pt;
}

footer a{
    color: #FF8000;
}

footer a:hover{
    transition: .9s;
    color: #be6003;
    text-decoration: none;
}

@media(max-width:700px){
    .pratos{
        width: 400px;
    }

    #rodape p{
        margin-bottom: 150px;
        margin-top: -30px;
    }

    #rodape h2{
        margin-top: -50px;
    }
}