#principal{
    background-image: url('../imagens/pizzaria-hero-fundo01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 250px;
    text-align: center;
    filter: brightness(60%);
    color: white;
    display: table;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#principal h1{
    font-size: 90px;
    filter: none;
}

#principal span{
    color: #EE7D0C;
    font-size: 20pt;
    filter: none;
}

#principal p{
    font-size: 20pt;
    filter: none;
}

#info h2{
    color: #EE7D0C;
    font-size: 45px;
}

#info button{
    background-color: black;
    border-style: none;
    border-radius: 50px;
    padding: 10px 40px 10px 40px; 
}

#info button, a{
    color: white;
    font-size: 20pt;
}

.horario{
    margin-top: -120px;
    color: white;
    margin-left: 20px;
}

#cardapio{
    background-color: #FAF2E4;
    width: 100%;
    text-align: center;
}

#cardapio button{
    border-style: none;
    background-color: #ff8000;
    padding: 20px;
    border-radius: 50px;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
}

#cardapio a{
    border-style: none;
    background-color: #ff8000;
    padding: 20px;
    border-radius: 50px;
    color: white;
}

#caradapio button a:hover{
    background-color: #BE6003;
    color: black;
}

#happy{
    text-align: center;
}

#happy h2{
    color: #BE6003;
    font-size: 35pt;
}

#happy strong{
    font-size: 15pt;
}

#depoimentos img{
    border-radius: 50px;
}

.name{
    color: gray;
    font-size: 15pt;
}