#inicial{
    background-image: url('../imagens/pizzaria-hero-fundo01.jpg');
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 210px;
}

#inicial h1{
    font-size: 75pt;
}

#inicial p{
    font-size: 25pt;
}

#spec{
    color: rgb(255, 145, 0);
}

#info h2{
    color: #EE7D0C;
    font-size: 45pt;
}

#info a{
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 15px 40px 15px 40px;
}

#info a:hover{
    transition: 2s;
    background-color: #FF8000;
    text-decoration: none;
}

.horario{
    color: white;
    margin-top: -190px;
    margin-left: 40px;
}

.horario h3{
    font-size: 35pt;
}

#cardapio{
    background-color: #FAF2E4;
    padding: 50px;
}

#folha{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#cardapio h2,#descri{
    text-align: center;
    margin-bottom: 20px;
}

#cardapio h2{
    font-size: 35pt;
    color: #be6003;;
}

#cardapio button{
    border: none;
    margin-top: 150px;
    background-color: #FF8000;
    border-radius: 50px;
    padding: 25px 25px 25px 25px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#cardapio button:hover{
    transition: 1s;
    background-color: #be6003;
}

#cardapio a{
    text-decoration: none;
    color: black;
}
#cardapio a:hover{
    transition: 1s;
    color: white;
}

#food figcaption{
    font-size: 15pt;
    text-align: right;
    margin-top: -190px;
    align-items: center;
}

#food span{
    font-size: 12pt;
}

#food img{
    margin-bottom: 40px;
    margin-left: -220px;
}

#descricao-happy{
    text-align: center;
}

#descricao-happy h2{
    font-size: 35pt;
    color: #be6003;
}

#descricao-happy p{
    font-size: 17pt;
}

.descricao-depoimento{
    text-align: center;
}

.descricao-depoimento img{
    border-radius: 90px;
}

.name{
    font-size: 15pt;
    color: gray;
}

footer{
    background-color: rgb(78, 77, 77);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 15pt;
}

footer a{
    color: #FF8000;
}

footer a:hover{
    transition: .9s;
    color: #be6003;
    text-decoration: none;
}

@media(max-width:700px){
    #inicial{
        padding: none;
        text-align: right;
        margin-left: -10px;
        margin: auto;
    }

    #inicial h1{
        padding: none;
        margin-left: -150px;
        text-align: left;
    }

    #inicial p{
        padding: none;
        margin-left: -120px;
        font-size: 15pt;
    }

    #inicial img{
        margin-left: -120px;
    }

    #food img{
        margin-bottom: 200px;
    }

    #food figcaption{
        text-align: left;
    }

    #happy img{
        width: 440px;
    }

    #rodape{
        padding-bottom: 420px;
    }
}