#principal{
    text-align: center;
    align-items: center;
}

#principal h1{
    font-size: 55pt;
}

.noticia{
    background: linear-gradient(gray, purple);
    padding: 10px;
    cursor: pointer;
}

.noticia:hover{
    transition: 1s;
    transform: rotate(1turn);

}
