#principal{
    background-image: url("../imagens/bg-quem-somos.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 250px;
    text-align: left;
    filter: brightness(50%);
    color: white;
    display: table;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#principal h1{
    font-size: 55pt;
}

#conteudo{
    font-size: 15pt;
}

#conteudo img{
    border-radius: 50px;
}

#comodidades, #icons{
    text-align: center;
}