nav a{
    color: black;
}

nav a:hover{
    text-decoration: none;
    color: rgb(216, 123, 2);
}

#principal{
    background-image: url("../imagens/pizzaria-hero-fundo03.jpg");
    padding: 250px;
    color: white;
    filter: brightness(54%);
}

#principal img{
    margin-left: -200px;
    width: 350px;
}

h1{
    font-size: 55pt;
    margin-left: -220px;
}

#principal p{
    font-size: 45pt;
    margin-left: -200px;
}

#contato{
    margin: 80px;
}

#contato h2{
    text-align: center;
}

#pri{
    text-align: center;
}

input{
    width: max-content;
}

footer{
    width: 1349px;
}

footer a:hover{
    text-decoration: none;
    color: rgb(216, 123, 2);
}

@media(max-width:700px){
    #principal{
        margin-top: -100px;
    }

    .info{
        size: 40px;
        width: 290px;
    }

    textarea{
        width: 290px;
    }

    footer{
        width: 500px;
    }

    #rodape-personalizado img{
        width: 500px;
        height: 550px;
        margin: none;
    }
    
    #rodape-personalizado h2{
        margin-left: 2px;
        padding-top: 20px;
        padding-left: 20px;
    }
    
    #rodape-personalizado p{
        margin-left: 2px;
        padding-top: 50px;
        padding-left: 20px;
    }
}