
nav a{
    color: black;
}

nav a:hover{
    text-decoration: none;
    color: rgb(216, 123, 2);
}

h1{
    font-size: 55pt;
}

.noticia{
    border:black  solid 2px;
    padding: 9px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.noticia:hover{
    border: rgb(138, 76, 182) solid 4px;
    transform: rotate(5deg)
}

#noti{
    margin: 70px;
}

#principal{
    background-color: white;
}

footer a:hover{
    text-decoration: none;
    color: rgb(149, 88, 9);
}

@media(max-width:700px){
    #principal{
        margin-top: -100px;
    }
}