#initial{
    background-image: url('../imagens/pizzaria-hero-fundo01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 90vh;
    width: 100%;
    color: white;
    filter: brightness(80%);
}

#initial h1{
    font-size: 70pt;
    font-weight: normal;
    padding: 10px;
}

#initial p{
    padding: 10px;
    font-size: 1.5em;
}

.destaque{
    color: #EE7D0C;
}

.btn{
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
}

.col{
    display: flex;
    padding: 100px;
}

.col img{
    width: 350px;
    padding: 50px;
}

.col h2{
    color: #EE7D0C;
    font-size: 45px;
    font-weight: normal;
    line-height: 1.5em;
}

.col strong{
    line-height: 2em;
}

.col p{
    line-height: 2em;
}

#list{
    background-color: #FAF2E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

#list .row{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#list .row > div{
    padding: 30px 100px;
}

#list .row > div > p{
    padding-bottom: 20px;
}

#list span{
    font-family: Arial, Helvetica, sans-serif;
}

#list a{
    background-color: #FF8000;
    color: white;
    padding: 20px;
    font-size: 2em;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#list a:hover{
    background-color: #c0650a;
}

#happy{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
    text-align: center;

}

#happy img{
    width: 60%;
}

span{
    font-family: Arial, Helvetica, sans-serif;
}

#happy h2{
    font-size: 3em;
    font-weight: normal;
    color: #c0650a;
}

#happy p{
    font-size: 1.2em;
}

.col-img{
    display: flex;
    text-align: center;
    padding: 100px;
    justify-content: space-around;
}

.col-img div{
    padding: 50px;
}

#phrases{
    display: flex;
}

.card{
    text-align: center;
    padding: 50px;
    line-height: 1.5em;
}

.card img{
    border-radius: 100%;
}

.name{
    color: gray;
    line-height: 2em;
    font-size: 1.2em;
}

@media screen and (max-width: 1160px) {
    .col{
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .btn{
        font-size: 1.5em;
    }
}

@media(max-width: 650px){
    .col{
        flex-direction: column;
        padding: 10px;
        align-items: center;
        margin-top: 20px;
    }

    .col img{
        width: 230px;
        padding: 0px;
    }

    .btn{
        font-size: 1.5em;
    }

    .row{
        flex-direction: column;
        padding: 0px;
    }

    #list .row > div{
        padding: 10px 0px;
    }

    #list p{
        padding-bottom: 10px;
    }

    .row img{
        width: 70%;
    }

    #list a{
        font-size: 1em;
        margin-top: 10px;
    }

    #happy{
        flex-direction: column;
        font-size: 1em;
    }

    .col-img{
        flex-direction: column;
        padding: 10px 0px;
    }

    .col-img img{
        width: 80%;
    }

    #phrases{
        flex-direction: column;
    }
}