#blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1{
    font-size: 3em;
    padding-top: 20px;
}

.col{
    display: flex;
    padding: 10px;
}

.card{
    background: linear-gradient(#ffb76f, #B86511);
    margin: 20px;
    padding: 20px;
    line-height: 2em;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card:hover{
    transform: translateY(-10px);
    transition: .5s;
    box-shadow: 8px 9px 11px 8px rgba(0, 0, 0, 0.512);
}

@media(max-width: 650px){
    .col{
        flex-direction: column;
        padding: 0px;
    }
    .card{
        margin-top: 30px;
        margin-bottom: 20px;
    }
}