#initial{
    background-image: url('../imagens/bg-quem-somos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    font-size: 1.5em;
    color: white;
    width: 100%;
    filter: brightness(60%);
}

.col, .col-amenities{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.col div{
    padding: 0px 20px;
}

.col p{
    line-height: 2em;
    font-size: 1.2em;
    text-align: justify;
}

.border{
    width: 40vw;
    border-radius: 50px;
}

#amenities p{
    font-size: 1em;
    text-align: center;
}

strong{
    font-size: 1.2em;
}

#amenities i{
    color: #EE7D0C;
}

#recommendation{
    text-align: center;
}

@media(max-width: 650px){
    .col, .col-amenities{
        flex-direction: column;
        padding: 10px;
    }

    .border{
        width: 100%;
        margin-bottom: 20px;
    }

    strong{
        line-height: 2em;
    }
}

@media screen and (max-width: 1123px){
    .col{
        flex-direction: column;
        align-items: center;
    }
}